<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quản_lý_quán_bar.Properties.Settings.dbCafeManagerConnectionString"
            connectionString="Data Source=LAPTOP-BO660QMT\TAKSANSY;Initial Catalog=dbCafeManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>